.header {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-radius: 20% 0 20% 0;
    background-color: #ffa41b;
    color: #000839;
    text-align: center;
}

.main {
    width: 80%;
    margin: 20px auto;
}
.section {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #3b6978;
}
.section__color--principal {
    background-color: #fcf8f3;
}
.section__color--secondary {
    background-color: #cae8d5;    
}
.section__title {
    color: #204051;
}
.section__paragraph {
    color: #3b6978;
}