body {
    margin: 0;
}

.block--position {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #f3c623;
}
.header__logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    color: #10375c;
}
.logo__img {
    width: 30px;
    margin-right: 10px;
}
.logo__span {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}
.header__nav {
    margin-right: 50px;
}
.header__nav a {
    padding: 0 5px;
    color: #10375c;
    text-decoration: none;
}
.header__nav a:hover {
    color: #faf4ff;
}

.section {
    width: 90%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.section__article {
    margin: 15px;
    padding: 25px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
}
.article__img--size {
    width: 180px;
    margin: 20px auto;
}

.footer {
    background-color: #10375c;
}
.footer__credit {
    margin-left: 20px;
    color: #faf4ff;
}
.footer__img {
    width: 30px;
    margin-right: 50px;
}