.header {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-radius: 20% 0 20% 0;
    background-color: #00bdaa;
    color: #000839;
    text-align: center;
}

.main {
    width: 90%;
    margin: auto;
}
.section {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #3b6978;
}
.section__color--principal {
    background-color: #fcf8f3;
}
.section__color--secondary {
    background-color: #cae8d5;    
}
.section__color--tertiary {
    background-color: #cff1ef;    
}
.section__title {
    color: #204051;
}
.section__paragraph {
    color: #3b6978;
}

.footer {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
    background-color: #8db1ab;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}